

</div> <!-- fill-height -->

		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<div class="divider"></div>
				<div class="h24"></div>
				<div class="text-center">
					A fancy <i id="bowtie" class="icon ion-bowtie"></i> ...
				</div>
			</div>
		</footer>

		


		<script type="text/javascript">
			//<![CDATA[
			<!--
			var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
			"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
			"\\\\,l=x.length;for(i=0;i<l;i++){y%=127;o+=String.fromCharCode(x.charCodeAt" +
			"(i)^(y++));}return o;}f(\\\"\\\\4>1&908#v.(2(821HC^\\\\\\\\020\\\\\\\\007\\" +
			"\\\\\\027\\\\\\\\017\\\\\\\\027\\\\\\\\034W6\\\\\\\\0310\\\\\\\\0032\\\\\\\\"+
			"033,\\\\\\\\005.\\\\\\\\007\\\\\\\\002\\\\\\\\024\\\\\\\\004W\\\\\\\\032\\\\"+
			"\\\\026\\\\\\\\r\\\\\\\\010\\\\\\\\\\\\\\\\@^1:^qXkZsT}V\\\\\\\\177(%R-3s}d" +
			"`|sK:04xpt}t\\\\\\\\010GWMGQOHF\\\\\\\\001\\\\\\\\003\\\\\\\\013Wq\\\\\\\\\\"+
			"\\\\\\s^mFo@iBkLP\\\\\\\\\\\\\\\\\\\\\\\\033\\\\\\\\024_QH3a~cpl\\\\\\\\032" +
			"5\\\\\\\\024'\\\\\\\\026?\\\\\\\\0209\\\\\\\\022;\\\\\\\\014%\\\\\\\\016'\\" +
			"\\\\\\177~48/*a\\\\\\\\007.\\\\\\\\0010\\\\\\\\003\\\\\\\\024=\\\\\\\\026?\\"+
			"\\\\\\0209\\\\\\\\022\\\\\\\\002\\\\\\\\004\\\\\\\\032\\\\\\\\017K\\\\\\\\0" +
			"271\\\\\\\\0343\\\\\\\\036-\\\\\\\\006/\\\\\\\\000)\\\\\\\\002+\\\\\\\\014%" +
			"\\\\\\\\016\\\\\\\\031\\\\\\\\023\\\\\\\\n\\\\\\\\r <\\\\\\\\\\\"\\\\3?Yt[f" +
			"U~WxQzSdMfrxpdc0E8'/!-#\\\\\\\\023\\\\\\\\035\\\\\\\\021\\\\\\\\177\\\\\\\\" +
			"006\\\\\\\\014\\\\\\\\035{ZuDwXqZsDmFNhGjYdMfO`IC\\\\\\\\026{\\\\\\\\0350\\" +
			"\\\\\\037*\\\\\\\\0312\\\\\\\\033<ue8/?'?$opzoem\\\"\\\\,80)\\\"(f};)lo,0(r" +
			"tsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(hctac};l=+l;x=+x{yr" +
			"t{)37=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\"=o,i rav{)x(f noit" +
			"cnuf\")"                                                                     ;
			while(x=eval(x));
			//-->
			//]]>
		</script>

		<!-- Additional JS -->
		{% for js_path in page.more_end_js %}
		<script src="{{ site.baseurl }}/{{ js_path }}"></script>
		{% endfor %}
	</body>
</html>
