	<body>
		<div class="fill-height">
			<!-- Javascript disabled -->
			<noscript>
				<div class="banner--top warning">Please enable JavaScript to view this page properly.</div>
			</noscript>
			<!-- Header -->
			<header>
				<div class="container">
					<!-- logo -->
					<a class="logo" href="{{ site.baseurl }}/about.html" title="ZZ">
						<object type="image/svg+xml" data="{{ site.baseurl }}/assets/images/zz.svg">
							<img src="{{ site.baseurl }}/assets/images/zz.png"/>
						</object>
					</a>
					<!-- nav links -->
					<nav>
						<i class="fa fa-bars fa-2x dropdown-button"></i>
						<ul class="dropdown">
							{% assign current = page.url | downcase %}
							<a href="{{ site.baseurl }}/about.html" title="About">
								<li {% if current == "/about.html" %}class="active-tab"{% endif %}>About</li>
							</a>
							<a href="{{ site.baseurl }}/blogs.html" title="Blogs">
								<li {% if current == "/blogs.html" or current contains "/blogs/" %}class="active-tab"{% endif %}>Blogs</i></li>
							</a>
							<a href="{{ site.baseurl }}/contact.html" title="Contact">
								<li {% if current == "/contact.html" %}class="active-tab"{% endif %}>Contact</li>
							</a>
						</ul>
					</nav>
				</div>
			</header>
			<script src="{{ site.baseurl }}/assets/javascripts/dropdown.js"></script>