{% include head.html %}
{% include header.html %}
<!-- Main content -->
<div class="container content">
	<h2>Blogs</h2>
	<p>A work in progress...</p>
	<div class="h64"></div>
	<div class="divider--horizontal"></div>
	<div class="h64"></div>
	<!-- All posts -->
	{% for post in site.posts %}
		<!-- Blogs -->
		<a href="{{ post.url }}">
			<div id="{{ post.panel_id }}" class="panel panel--blog invisible">
				<div class="panel-overlay panel-content">
					<div class="panel-header">
						<h3 class="panel-title">{{ post.title }}</h3>
						<span class="panel-date">{{ post.date | date: "%-d/%-m/%y" }}</span>
					</div>
					<div class="panel-description">
						<p>{{ post.description }}</p>
					</div>
				</div>
			</div>
		</a>
	{% endfor %}
	<div class="h64"></div>
</div> <!-- container content -->
{% include footer_bowtie.html %}
